RPi.GPIO
paho-mqtt
pyyaml
packaging
retrying
w1thermsensor>=2.*
adafruit-circuitpython-bme280
adafruit-circuitpython-bme680
adafruit-circuitpython-sht31d
adafruit-circuitpython-si7021
# git+https://github.com/imgrant/Adafruit_CircuitPython_TMP117.git@serial_number  # adafruit-circuitpython-tmp117
adafruit-circuitpython-ahtx0
adafruit-circuitpython-dht
ltr559 # pimoroni-circuitpython-ltr559 — using Pimoroni non-CircuitPython library instead