RPi.GPIO    # Normally already installed via copying from Docker 'build' layer
smbus   # Normally already installed via copying from Docker 'build' layer
paho-mqtt
pyyaml
packaging
retrying
adafruit-circuitpython-busdevice
adafruit-circuitpython-sht31d
adafruit-circuitpython-si7021
# git+https://github.com/imgrant/Adafruit_CircuitPython_TMP117.git@serial_number  # adafruit-circuitpython-tmp117
adafruit-circuitpython-ahtx0
adafruit-circuitpython-dht
# pimoroni-circuitpython-ltr559 — using Pimoroni non-CircuitPython library instead
w1thermsensor>=2.*
pimoroni-bme280
bme680
ltr559