paho-mqtt
pyyaml
packaging
retrying
waiting
w1thermsensor>=2.*
adafruit-circuitpython-bme280
adafruit-circuitpython-bme680
adafruit-circuitpython-sht31d
adafruit-circuitpython-tmp117
adafruit-circuitpython-ahtx0
adafruit-circuitpython-ms8607
adafruit-circuitpython-mcp9808
adafruit-circuitpython-hts221
adafruit-circuitpython-htu21d
adafruit-circuitpython-si7021
adafruit-circuitpython-sgp40
adafruit-circuitpython-dht
adafruit-circuitpython-tca9548a
smbus2
ltr559 # pimoroni-circuitpython-ltr559 — using regular Pimoroni library instead because the CircuitPython version isn't on PyPI